<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="sms-payment">
     <div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
          
          <div id="divDatePciker">
           <oj-form-layout id="myform"  label-edge="start">
           <!-- <oj-label for="dateFrom">Od</oj-label> -->
            <oj-input-date id="dateFrom" value='{{value1}}' label-hint="Od">
            </oj-input-date>
            <!-- <oj-label for="dateTo">Do</oj-label>           -->
            <oj-input-date id="dateTo" value='{{value}}' label-hint="Do">
            </oj-input-date>
            
            
            <br/><br/>
             
        <!--    <span class="oj-label">Current component value is: </span>
            <span><oj-bind-text value="[[value]]"></oj-bind-text></span>
           --> 
           </oj-form-layout>
            
          </div>
  
          
        </div>
      </div>
</div>