<div id="tableView">
    
 
    <div id="date-picker-component" class="section">
        <!-- Komponenta -->
    </div>
    <hr/>
    <div id="search-component" class="section">
        <!-- Komponenta -->
    </div>
    <hr/>    
    <h2 class="h-margin">SMS Payment tabele</h2>
    <div id="sms-payment-tables" style="display: flex;">
        <div id="secondary-navigation" style="margin-right: 70px;">
            <!-- Komponenta -->
        </div>
        <div id="mainContent" style="width: 100%;">
            <!-- Komponenta -->
        </div>
    </div>
</div>